body{
    background-color: brown;
}
h1{
    color: antiquewhite;
    font-size:x-large;
    font-style: italic;
    text-align: center;
    font-style: italic;
    
    
} 
h2{
    color: aquamarine;
    font-size: x-large;
    text-align: center;
    font-style: italic;
    

}
h3{
    color: aquamarine;
    font-style:italic;
    text-align: center;
    font-size: x-large;
    font-style: italic;
}
p{
    font-family:  sans-serif;
    text-align: center;
    font-size: large;

    
}
ul{

    line-height 22px;
    font-size: x-large;
    text-align: center;
    font-variant-numeric: tabular-nums;
    text-transform: lowercase;
    
    
}
ol{
    font-size: large;
    font-family:  sans-serif;
    text-align: center;
    font-style: italic;
    
}
img{
    image